In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
from io import StringIO

In [4]:
data = """\
sample animal intelligence
1 Dog smart
2 Dog smart
3 cat smart
4 cat smart
5 dog smart
6 cat smart"""

In [5]:
dframe = pd.read_table(StringIO(data), sep = '\s+')

In [6]:
dframe

   sample animal intelligence
0       1    Dog        smart
1       2    Dog        smart
2       3    cat        smart
3       4    cat        smart
4       5    dog        smart
5       6    cat        smart

In [8]:
pd.crosstab(dframe.animal, dframe.intelligence)

intelligence  smart
animal
Dog               2
cat               3
dog               1

In [9]:
pd.crosstab(dframe.intelligence,dframe.animal)

animal        Dog  cat  dog
intelligence
smart           2    3    1

In [10]:
pd.crosstab(dframe.animal, dframe.intelligence, margins=True)

intelligence  smart  All
animal
Dog               2    2
cat               3    3
dog               1    1
All               6    6